@{
    ViewBag.Title = "Home Page";
}

    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>

        <title></title>
       
    </head>
    <body>

        <a class="printPage" href="#">Print</a>
        

        <script>
            $('a.printPage').click(function () {
                window.print();
                return false;
            });
        </script>
    </body>
    </html>