@{
    ViewBag.Title = "Home Page";
}

    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
    </head>
    <body>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <p>Jquery</p>
        <a href="#top">Go top</a>

        <script>
            $("a[href='#top']").click(function () {
                $("html").animate({ scrollTop: 0 },"slow");
            });
        </script>

    </body>
    </html>