@{
    ViewBag.Title = "Home Page";
}

    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <title></title>
    </head>
    <body>

        <img src="~/img/bt.jpg" width="100" height="100" />



        <script>
            //$(document).bind("contextmenu", function (e) {
            //    return false;
            //});

            $('body').on('contextmenu', 'img', function (e) {
                return false;
            });

        </script>
    </body>
    </html>